@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #161616;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0f0f0f;
    --dark-color: #000;
    --font-color: #fff;
    --column-color: #3333;
    --wrong-color: #ff0000;
    --bg-wrong-color: #ffc0cb;
    --correct-color: #00ff00;
}

html {
    scroll-behavior: smooth;
}

.navBar {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    top: 0;
    color: var(--font-color);
    padding: 20px;
}

.navWrap {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navWrap a {
    text-decoration: none;
    color: var(--font-color);
}

.home {
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.settings {
    width: 100%;
    height: 100vh;
    background: var(--column-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector {
    display: flex;
}


.language-selector button {
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--column-color);
    border: none;
    outline: none;
    color: var(--font-color);
}


.typing-test {
    max-width: 1000px;
    width: 90%;
    height: 50%;
    background: var(--primary-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapperTypeTest {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: flex;
    justify-content: center;
    background: var(--column-color);
    padding: 10px;
    width: fit-content;
    border-radius: 8px;
}

.timerValue {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.timerValue i {
    font-size: 20px;
}


.timeSelector button {
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--font-color);
    background: var(--column-color);
    outline: none;
    border: none;
}

.time-selector {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.word-box {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

.word-box span {
    padding: 2px;
}


.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    justify-content: center;
}

textarea:focus, input:focus {
    outline: none;
    border: none;
}

.input-area {
    width: fit-content;
    font-size: 12px;
    padding: 10px 20px;
    color: var(--font-color);
    border: none;
    border-radius: 8px;
    background: var(--column-color);
}

.btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.btn button {
    background: var(--column-color);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
}

.btn i {
    font-size: 20px;
}

.correct {
    color: var(--correct-color);
}

.incorrect {
    color: var(--wrong-color);
    background-color: var(--bg-wrong-color);
}

.input-area.error {
    border-color: var(--bg-wrong-color);
    background-color: var(--font-color);
}

.correct {
    color: var(--correct-color);
}

.incorrect {
    color: var(--wrong-color);
    background-color: var(--bg-wrong-color);
}

.input-area.error {
    border-color: var(--wrong-color);
}


.result {
    text-align: center;
    color: var(--font-color);
}
